.aside {
    display: flex;
    justify-content: flex-end;
    &__content {
        display: flex;
        flex-direction: column;
        min-width: 125px;
        width: 100%;
        min-height: calc(100vh - 136px);
        border-left: 1px solid rgb(64, 64, 126);
        &__title {
            padding: 0 12px;
            font-size: 20px;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
        }

        &__item {
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            margin: 0;
            padding: 10px 0;
            &:hover {
                background: rgb(64, 64, 126);
                color: white;
            }
        }
    }
}
.active {
    background: rgb(64, 64, 126);
    color: white;
}
