body{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;

  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');